/* Layout generale per spingere il footer in basso */
main {
    flex: 1;
    /* spinge il footer in basso */
}

/* Sezione Campus */
#campus-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    align-items: center;
    min-height: 120px;
}

#campus-container .campus-text {
    flex: 6; /* 60% circa */
    min-width: 250px;
}

#campus-container .campus-image {
    flex: 4; /* 40% circa */
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#campus-container .campus-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}


.slide-right {
    animation: slideRight 0.4s ease;
}

.slide-left {
    animation: slideLeft 0.4s ease;
}

@keyframes slideRight {
    from { transform: translateX(40px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideLeft {
    from { transform: translateX(-40px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

#campus-dots {
    margin-top: 12px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 5px;
    background: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background: #333;
}

/* Contenuto principale: main + aside spaziatura */

.content {
    display: flex;
    gap: 20px;           /* spazio tra main e aside */
    padding: 20px;
    flex-wrap: wrap;      /* utile su mobile */
}

/* Main occupa più spazio */
.content main {
    flex: 5;              /* 5 parti su 8 */
    min-width: 300px;     /* non troppo piccolo su mobile */
}

/* Sidebar più stretta */
.content aside {
    flex: 3;              /* 3 parte su 8 */
    min-width: 200px;     /* non troppo piccolo su mobile */
}

aside > ul {
    display: flex;
    flex-direction: column;
    gap: 30px; /* spazio tra Eventi e Domande */
}

aside > ul > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    border-left: 2px solid #ddd;
}

aside ul li ul {
    list-style: square;
    padding-left: 20px;
}

/* liste interne: più rientro */
aside > ul > li > ul {
    padding-left: 30px;   /* aumenta o diminuisci a gusto */
}

/* eventuali liste ancora più interne */
aside ul li ul ul {
    padding-left: 20px;
}

/* per immagine easteregg */
.easteregg {
    max-width: 100%;
    overflow: hidden;   /* impedisce di uscire */
}

.easteregg img {
    max-width: 100%;    /* non supera il div */
    height: auto;       /* mantiene proporzioni */
    display: block;     /* elimina spazi strani sotto l’immagine */
}